main {
	height: 100vh;
}

canvas {
	outline: none;
	width: 100%;
	height: 100%;
}

.ui {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.experience {
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50%;
	width: 50rem;
}

.experienceBar {
	background: white;
	background-clip: padding-box;
	outline: 1px solid black;
	height: 2rem;

	&::before {
		content: "";
		display: block;
		height: 100%;
		transform-origin: left;
		scale: var(--width) 1;
		background: #6666ff;
		transition: scale 200ms;
	}
}

.level {
	position: absolute;
	bottom: 0;
	translate: -50%;
	border: 0.3rem solid #aaaa00;
	border-radius: 50%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	color: white;
	background: black;
	outline: 1px solid black;
}
