:root {
	--primary-color: white;
	--primary-color-disabled: lightgrey;
	--text-color-inverse: black;
	--text-color-disabled: grey;
}

main {
	height: 100vh;
}

canvas {
	outline: none;
	width: 100%;
	height: 100%;
	background: black;
}

.ui {
	pointer-events: none;
	position: absolute;
	inset: 0;
}

.bars {
	position: absolute;
	bottom: 0;
	left: 50%;
	translate: -50%;
	width: 50rem;
	box-shadow: 0 0 0.5rem 0.1rem grey;
}

.bar {
	position: relative;
	background: black;
	background-clip: padding-box;
	color: lightgrey;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		transform-origin: left;
		scale: var(--width) 1;
		background: var(--color);
		transition: scale 200ms;
	}

	div {
		z-index: 1;
	}
}

.hp {
	--color: #007700;
	box-shadow: inset 0 -1px var(--color);
}

.experience {
	--color: #6666ff;
	box-shadow: inset 0 1px var(--color);
}

.level {
	position: absolute;
	bottom: 0;
	translate: -50%;
	border: 0.3rem solid #aaaa00;
	border-radius: 50%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
	color: white;
	background: black;
	outline: 1px solid black;
}

.start {
	pointer-events: all;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}
